.MobileCountry-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.MobileCountry-header-left {
  border-top: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  border-top-left-radius: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.MobileCountry-header-right {
  border-top: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
}

.MobileCountry-flag {
  max-width: 3rem;
}

.MobileCountry-left {
  border-left: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.MobileCountry-left-last {
  border-left: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom-left-radius: 0.5rem;
  margin-bottom: var(--small);
}

.MobileCountry-right {
  border-right: 3px solid var(--border-color);
}

.MobileCountry-right-last {
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-right-radius: 0.5rem;
  margin-bottom: var(--small);
}

.MobileCountry-header {
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
}
