.MobileGraphModeCountry-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.MobileGraphModeCountry-name-cell {
    padding: var(--small);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.MobileGraphModeCountry-upper-left {
  border-top: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: var(--small);
  border-top-left-radius: 0.5rem;
}

.MobileGraphModeCountry-upper-right {
  border-top: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: var(--small);
  border-top-right-radius: 0.5rem;
}

.MobileGraphModeCountry-bar-container {
    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: var(--small);
    padding-left: 0;
    grid-column: 1 / span 2;
}
