.MobileGraphModeHeader-header {
  grid-column: 1 / span 2;
  border: 3px solid var(--border-color);
  border-radius: 0.5rem;
  padding: var(--small);
}

.MobileGraphModeHeader-sort-label {
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.MobileGraphModeHeader-square {
    border: 2px solid rgba(0, 0, 0, 0.123);
    color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 0.3rem;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
