* {
  font-family: "Sora", sans-serif;
  transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}

:root {
  --border-color: rgb(218, 218, 218);
  --darker: rgb(175, 175, 175);
  --pressed: rgb(141, 141, 141);
  --text-dark: rgb(99, 99, 99);
  --focus: rgba(177, 224, 255, 0.432);
  --input-bg-unfocusd: rgb(245, 245, 245);
}

header {
  background-color: white;
  border-bottom: 0.2rem solid var(--border-color);
  position: fixed;
  width: calc(100vw - (100vw - 100%));
  z-index: 15;
}

i.h1-icon {
  font-size: 2.5rem;
  color: rgba(102, 168, 243, 0.678);
  display: block;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.09rem;
  display: block;
  white-space: nowrap;
  color: rgb(151, 151, 151);
}

p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

p.site-description {
  display: inline;
}

#data-grid {
  display: grid;
}

#input-area {
  position: relative;
}

#search-field {
  font-weight: 500;
  height: 2.5rem;
  width: 25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
  transition: box-shadow 0.1s;
  background-color: var(--input-bg-unfocusd);
}

@media screen and (max-width: 599px) {
  #search-field {
    width: 100%;
  }
}

.showing-suggestions {
  border-bottom-left-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}

#search-field:focus {
  outline: none;
  background-color: white;
}

#suggestions-container {
  width: 25rem;
  background-color: white;
  position: absolute;
  top: 2.5rem;
  left: 0;
  border: 2px solid var(--border-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--border-color);
  z-index: 10;
}

@media screen and (max-width: 599px) {
  #suggestions-container {
    width: 100%;
  }
}

#suggestions-container.hidden {
  display: none;
}

.suggestion-div {
  padding: 0.5rem;
}

.suggestion-icon {
  opacity: 0;
  transition: opacity 0.1s;
  color: var(--text-dark);
}

.suggestion-div:hover .suggestion-icon {
  opacity: 1;
}

.suggestion-div p {
  transition: margin 0.1s;
}

.suggestion-div:hover p {
  margin-left: 0.5rem;
}

.suggestion-div:nth-child(even) {
  background-color: var(--input-bg-unfocusd);
}

.country-container {
  border: 1px solid black;
}

.grid-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bar-chart-cell {
  border-left: 1px solid var(--border-color);
  padding-top: var(--small);
  padding-bottom: var(--small);
  padding-right: var(--small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.example-bar {
  height: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.123);
  border-left: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: width 0.5s ease-in-out;
}

.example-bar + .example-bar {
  margin-top: var(--small);
}

.bar-chart-label {
  margin-left: 0.1rem;
  color: var(--text-dark);
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 0.1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  white-space: nowrap;
}

.delete-button {
  border-radius: 0;
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.delete-button:hover {
  background-color: var(--darker);
}

.delete-button:active {
  background-color: var(--pressed) !important;
  outline: none;
}

.delete-button:hover .delete-icon {
  color: white;
}

.delete-icon {
  color: var(--darker);
  font-size: 1.2rem;
}

.grid-cell button:hover {
  background-color: rgb(214, 214, 214);
}

img {
  width: 100%;
  max-width: 100px;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
}

.left-end {
  border-left: 3px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.last-row-left-end {
  border-left: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 0.5rem;
}

.middle {
  border-bottom: 1px solid var(--border-color);
}

.last-row-middle {
  border-bottom: 3px solid var(--border-color);
}

.right-end {
  border-right: 3px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
}

.last-row-right-end {
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-right-radius: 0.5rem;
  justify-content: center;
}

.header-left-end {
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-top-left-radius: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.header-middle {
  border-top: 3px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.header-right-end {
  border-right: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.shaded-cell {
  background-color: var(--input-bg-unfocusd);
}

.sort-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darker);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.sort-icon:hover {
  color: white;
  background-color: var(--darker);
}

.active-sort {
  color: var(--text-dark) !important;
}

.table-header {
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.table-header-graph {
  font-family: "Varela Round";
  color: rgba(0, 0, 0, 0.534);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
  border: 2px solid rgba(0, 0, 0, 0.123);
  padding: 0.2rem;
  border-radius: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
}

.raised {
  font-size: 0.7rem;
  display: inline-block;
  transform: translateY(-30%);
  z-index: -1;
}

#content-container {
  min-height: 100vh;
}

.footer-text {
  font-size: 0.8rem;
}

.footer-icon {
  color: var(--darker);
  font-size: 0.3rem;
}

.checkbox-icon {
  font-size: 1.4rem;
  color: var(--darker);
}

.checkbox-label {
  color: var(--text-dark);
  font-size: 0.8rem;
}

.tooltip {
  display: inline-block;
  position: relative;
  margin-left: 0.3rem;
}

.tooltip-hover {
  position: absolute;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  width: max-content;
  max-width: 12rem;
  left: 50%;
  top: 150%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: var(--input-bg-unfocusd);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.082);
}

.tooltip:hover .tooltip-hover {
  opacity: 1;
}

.tooltip-text {
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: var(--text-dark);
  text-align: center;
}

.tooltip-icon {
  color: var(--border-color);
  font-size: 1rem;
  z-index: -1;
}

.tooltip-pointer {
  clip-path: polygon(50% 50%, 50% 50%, 100% 110%, 0% 110%);
  position: absolute;
  top: -1rem;
  left: 50%;
  background-color: var(--border-color);
  width: 1rem;
  height: 1rem;
  transform: translateX(-50%);
}

.view-switch {
  height: 2.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
  background-color: var(--input-bg-unfocusd);
  cursor: pointer;
}

.switch-icon {
  color: var(--border-color);
  font-size: 1.3rem;
}

.switch-icon-wrapper {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-icon-active {
  color: var(--darker);
}

#graph-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

button:focus {
  outline: none;
}

.low-opacity {
  opacity: 0.4;
  z-index: -1;
}

#graph-grid-mobile {
  display: grid;
  grid-template-columns: auto 1fr;
}

.connection-fail::-webkit-input-placeholder {
  /* Edge */
  color: red;
}

.connection-fail:-ms-input-placeholder {
  /* Internet Explorer */
  color: red;
}

.connection-fail::placeholder {
  color: red;
}

#error-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-modal {
  margin: 1rem;
  max-width: 20rem;
  background-color: white;
  border: 3px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.096);
}

.modal-header-div {
  background-color: var(--input-bg-unfocusd);
  border-bottom: 1px solid var(--border-color);
  font-weight: 600;
}

.error-icon {
  color: red;
  font-size: 1.5rem;
}

.error-description {
  line-height: 1.5rem;
}

.error-btn {
  color: var(--text-dark);
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 3px solid var(--border-color);
  border-radius: 0.5rem;
}

.error-btn:hover {
  background-color: var(--border-color);
}

.MobileCountry-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.MobileCountry-header-left {
  border-top: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  border-top-left-radius: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.MobileCountry-header-right {
  border-top: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
}

.MobileCountry-flag {
  max-width: 3rem;
}

.MobileCountry-left {
  border-left: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.MobileCountry-left-last {
  border-left: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom-left-radius: 0.5rem;
  margin-bottom: var(--small);
}

.MobileCountry-right {
  border-right: 3px solid var(--border-color);
}

.MobileCountry-right-last {
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-right-radius: 0.5rem;
  margin-bottom: var(--small);
}

.MobileCountry-header {
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.MobileDataHeader-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.MobileDataHeader-left {
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-bottom: var(--small);
}

.MobileDataHeader-right {
  border-right: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: var(--small);
}

.MobileDataHeader-sort-mode {
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.MobileDataHeader-label {
  color: var(--text-dark);
  font-size: 0.8rem;
}

.MobileDataHeader-sort-container {
  z-index: 10;
  border-bottom: 1px solid var(--darker);
  width: 100%;
  position: relative;
}

.MobileDataHeader-sort-choices-container {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: white;
  border-top: 1px solid var(--darker);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.MobileDataHeader-sort-mode-choice {
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
  padding: var(--small);
  border-bottom: 1px solid var(--border-color);
}

.MobileDataHeader-sort-mode-choice:last-child {
  border-bottom: none;
}

.MobileGraphModeCountry-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.MobileGraphModeCountry-name-cell {
  padding: var(--small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MobileGraphModeCountry-upper-left {
  border-top: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: var(--small);
  border-top-left-radius: 0.5rem;
}

.MobileGraphModeCountry-upper-right {
  border-top: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: var(--small);
  border-top-right-radius: 0.5rem;
}

.MobileGraphModeCountry-bar-container {
  border-left: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: var(--small);
  padding-left: 0;
  grid-column: 1 / span 2;
}

.MobileGraphModeHeader-header {
  grid-column: 1 / span 2;
  border: 3px solid var(--border-color);
  border-radius: 0.5rem;
  padding: var(--small);
}

.MobileGraphModeHeader-sort-label {
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.MobileGraphModeHeader-square {
  border: 2px solid rgba(0, 0, 0, 0.123);
  color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.3rem;
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.MobileGraphModeHeader-grid-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
