* {
  font-family: 'Sora', sans-serif;
}

:root {
  --border-color: rgb(218, 218, 218);
  --text-dark: rgb(99, 99, 99);
  --focus: rgba(177, 224, 255, 0.432);
  --input-bg-unfocusd: rgb(245, 245, 245);
}

header {
  background-color: white;
  border-bottom: 0.2rem solid var(--border-color);
  position: fixed;
  width: 100vw;
}

i.h1-icon {
  font-size: 1.5rem;
  color: rgb(1, 120, 255);
  display: inline-block;
  transform: translateY(0.2rem);
}
h1 {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  display: inline;
  color: var(--text-dark);
}

p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

p.site-description {
  display: inline;
}

#countries-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#input-area {
  position: relative;
}

#search-field {
  font-weight: 500;
  height: 2.5rem;
  width: 25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
  transition: box-shadow 0.1s;
  background-color: var(--input-bg-unfocusd);
}

.showing-suggestions {
  border-bottom-left-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}

#search-field:focus {
  outline: none;
  background-color: white;
}

#suggestions-container {
  width: 25rem;
  background-color: white;
  position: absolute;
  top: 2.5rem;
  left: 0;
  border: 2px solid var(--border-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--border-color);
}

#suggestions-container.hidden {
  display: none;
}

.suggestion-div {
  padding: 0.5rem;
}

.suggestion-icon {
  display: none;
  color: var(--text-dark);
}

.suggestion-div:hover .suggestion-icon {
  display: initial;
}

.suggestion-div:hover p {
  margin-left: 0.5rem;
}

.suggestion-div:nth-child(even) {
  background-color: var(--input-bg-unfocusd);
}

.country-container {
  border: 1px solid black;
}

.grid-cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-cell button {
  flex: 1;
  align-self: stretch;
  border-radius: 0;
  border: none;
}

.grid-cell button:hover {
  background-color: rgb(214, 214, 214);
}

img {
  max-width: 150px;
}

button {
  display: block;
}

.grid-cell i {
  margin: 0.5rem;
}

i:hover {
  color: red;
}
